<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1>Address Books</h1>
        <hr><br><br>
        <alert :message=message v-if="showMessage"></alert>
        <button type="button" class="btn btn-success btn-sm" v-b-modal.book-modal>
        Add Address Book</button>
        <br><br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
              <th scope="col">Phone</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(book, index) in books" :key="index">
              <td>{{ book.name }}</td>
              <td>{{ book.address }}</td>
              <td>{{ book.phone }}</td>
              <td>
                <button
                        type="button"
                        class="btn btn-warning btn-sm"
                        v-b-modal.book-update-modal
                        @click="editBook(book)">
                    Update
                </button>
                <button
                        type="button"
                        class="btn btn-danger btn-sm"
                        @click="onDeleteBook(book)">
                    Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <b-modal ref="addBookModal"
             id="book-modal"
             name="Add a new book"
             hide-footer>
      <b-form @submit="onSubmit" @reset="onReset" class="w-100">
      <b-form-group id="form-name-group"
                    label="Name:"
                    label-for="form-name-input">
          <b-form-input id="form-name-input"
                        type="text"
                        v-model="addBookForm.name"
                        required
                        placeholder="Enter name">
          </b-form-input>
      </b-form-group>
      <b-form-group id="form-address-group"
                      label="Address:"
                      label-for="form-address-input">
            <b-form-input id="form-address-input"
                          type="text"
                          v-model="addBookForm.address"
                          required
                          placeholder="Enter address">
            </b-form-input>
      </b-form-group>
      <b-form-group id="form-phone-group"
                      label="Phone:"
                      label-for="form-phone-input">
            <b-form-input id="form-phone-input"
                          type="text"
                          v-model="addBookForm.phone"
                          required
                          placeholder="Enter phone">
            </b-form-input>
      </b-form-group>
        <b-button type="submit" variant="primary">Submit</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
      </b-form>
    </b-modal>
    <b-modal ref="editBookModal"
             id="book-update-modal"
             name="Update"
             hide-footer>
      <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">
      <b-form-group id="form-name-edit-group"
                    label="Name:"
                    label-for="form-name-edit-input">
          <b-form-input id="form-name-edit-input"
                        type="text"
                        v-model="editForm.name"
                        required
                        placeholder="Enter name">
          </b-form-input>
        </b-form-group>
        <b-form-group id="form-address-edit-group"
                      label="Address:"
                      label-for="form-address-edit-input">
            <b-form-input id="form-address-edit-input"
                          type="text"
                          v-model="editForm.address"
                          required
                          placeholder="Enter address">
            </b-form-input>
          </b-form-group>
        <b-form-group id="form-phone-edit-group"
                      label="Phone:"
                      label-for="form-phone-edit-input">
            <b-form-input id="form-phone-edit-input"
                          type="text"
                          v-model="editForm.phone"
                          required
                          placeholder="Enter phone">
            </b-form-input>
          </b-form-group>
        <b-button type="submit" variant="primary">Update</b-button>
        <b-button type="reset" variant="danger">Cancel</b-button>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios';
import Alert from './Alert';

export default {
  data() {
    return {
      books: [],
      addBookForm: {
        name: '',
        address: '',
        phone: '',
      },
      editForm: {
        id: '',
        name: '',
        address: '',
        phone: '',
      },
      message: '',
      showMessage: false,
      ROOT_API: process.env.ROOT_API,
    };
  },
  components: {
    alert: Alert,
  },
  methods: {
    getBooks() {
      const path = `${this.ROOT_API}/books`;
      axios.get(path)
        .then((res) => {
          this.books = res.data.books;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    addBook(payload) {
      const path = `${this.ROOT_API}/books`;
      axios.post(path, payload)
        .then(() => {
          this.getBooks();
          this.message = 'Address Book added!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getBooks();
        });
    },
    updateBook(payload, bookID) {
      const path = `${this.ROOT_API}/books/${bookID}`;
      axios.put(path, payload)
        .then(() => {
          this.getBooks();
          this.message = 'Address Book updated!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getBooks();
        });
    },
    removeBook(bookID) {
      const path = `${this.ROOT_API}/books/${bookID}`;
      axios.delete(path)
        .then(() => {
          this.getBooks();
          this.message = 'Address Book removed!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getBooks();
        });
    },
    initForm() {
      this.addBookForm.name = '';
      this.addBookForm.address = '';
      this.addBookForm.phone = '';
      this.editForm.id = '';
      this.editForm.name = '';
      this.editForm.address = '';
      this.editForm.phone = '';
    },
    onSubmit(evt) {
      evt.preventDefault();
      this.$refs.addBookModal.hide();
      const payload = {
        name: this.addBookForm.name,
        address: this.addBookForm.address,
        phone: this.addBookForm.phone,
      };
      this.addBook(payload);
      this.initForm();
    },
    onSubmitUpdate(evt) {
      evt.preventDefault();
      this.$refs.editBookModal.hide();
      const payload = {
        name: this.editForm.name,
        address: this.editForm.address,
        phone: this.editForm.phone,
      };
      this.updateBook(payload, this.editForm.id);
    },
    onReset(evt) {
      evt.preventDefault();
      this.$refs.addBookModal.hide();
      this.initForm();
    },
    onResetUpdate(evt) {
      evt.preventDefault();
      this.$refs.editBookModal.hide();
      this.initForm();
      this.getBooks(); // why?
    },
    onDeleteBook(book) {
      this.removeBook(book.id);
    },
    editBook(book) {
      this.editForm = book;
    },
  },
  created() {
    this.getBooks();
  },
};
</script>
